[submodule "datafiles/colormanagement"]
	path = datafiles/colormanagement
	url = https://github.com/sobotka/filmic-blender.git
[submodule "scripts/addons/addon_common"]
	path = scripts/addons/addon_common
	url = https://github.com/CGCookie/addon_common.git
[submodule "scripts/addons/DNoise"]
	path = scripts/addons/DNoise
	url = https://github.com/grantwilk/DNOISE.git
[submodule "scripts/addons/MACHIN3tools"]
	path = scripts/addons/MACHIN3tools
	url = https://github.com/machin3io/MACHIN3tools.git
[submodule "scripts/addons/Principled-Baker"]
	path = scripts/addons/Principled-Baker
	url = https://github.com/danielenger/Principled-Baker.git
[submodule "scripts/addons/BakeMyScan"]
	path = scripts/addons/BakeMyScan
	url = https://github.com/norgeotloic/BakeMyScan.git
[submodule "scripts/addons/object-shake"]
	path = scripts/addons/object-shake
	url = https://github.com/thatimster/object-shake.git
[submodule "scripts/addons/Optix-Denoiser"]
	path = scripts/addons/Optix-Denoiser
	url = https://github.com/troopy28/OptiX-Denoiser-for-Blender.git
[submodule "scripts/addons/RenderBurst_GIT"]
	path = scripts/addons/RenderBurst_GIT
	url = https://github.com/VertStretch/RenderBurst.git
[submodule "scripts/addons/fake-bpy-module"]
	path = scripts/addons/fake-bpy-module
	url = https://github.com/nutti/fake-bpy-module.git
[submodule "scripts/addons/tissue"]
	path = scripts/addons/tissue
	url = https://github.com/alessandro-zomparelli/tissue.git
[submodule "scripts/addons/curve_cad"]
	path = scripts/addons/curve_cad
	url = https://github.com/Lichtso/curve_cad.git
[submodule "scripts/addons/GoB"]
	path = scripts/addons/GoB
	url = https://github.com/JoseConseco/GoB.git
[submodule "scripts/addons/BRM_BakeUI"]
	path = scripts/addons/BRM_BakeUI
	url = https://github.com/leukbaars/BRM-BakeUI.git
[submodule "scripts/addons/real_camera"]
	path = scripts/addons/real_camera
	url = https://github.com/macio97/Real-Camera.git
[submodule "scripts/addons/Magic-UV"]
	path = scripts/addons/Magic-UV
	url = https://github.com/nutti/Magic-UV.git
[submodule "scripts/GIT/animation_nodes"]
	path = scripts/GIT/animation_nodes
	url = https://github.com/JacquesLucke/animation_nodes.git
[submodule "scripts/addons/retopoflow"]
	path = scripts/addons/retopoflow
	url = https://github.com/CGCookie/retopoflow.git
[submodule "scripts/GIT/mesh_align_plus"]
	path = scripts/GIT/mesh_align_plus
	url = https://github.com/egtwobits/mesh_mesh_align_plus.git
[submodule "scripts/GIT/glTF-Blender-IO"]
	path = scripts/GIT/glTF-Blender-IO
	url = https://github.com/sketchfab/glTF-Blender-IO.git
[submodule "scripts/GIT/fSpy-Blender"]
	path = scripts/GIT/fSpy-Blender
	url = https://github.com/stuffmatic/fSpy-Blender.git
[submodule "scripts/GIT/simple-asset-manager"]
	path = scripts/GIT/simple-asset-manager
	url = https://gitlab.com/tibicen/simple-asset-manager.git
[submodule "scripts/GIT/Capsule"]
	path = scripts/GIT/Capsule
	url = https://github.com/Takanu/Capsule.git