config/bookmarks.txt
config/recent-files.txt
*__pycache__*
scripts/addons/retopoflow-master/*
scripts/addons/Capsule/*
scripts/addons/animation_nodes/*
scripts/addons/SimpleAssetManager/*
scripts/addons/fspy_blender/*
scripts/addons/glTF-Blender-IO/*
scripts/addons/mesh_mesh_align_plus/*
scripts/addons/screencastkeys/*
scripts/addons/mira_tools/*
scripts/addons/PolyQuilt/*
scripts/addons/vertex_color_master/*
scripts/addons/MathsExpressionLiteBlender28/*
scripts/addons/MapsModelsImporter/*
scripts/addons/uvpackmaster2/Engine/*
scripts/addons/Polycount/*
scripts/presets/interface_theme/blender_pro.xml
.vscode/settings.json

scripts/addons/RenderBurst.py
scripts/addons/Object_Shake.py
scripts/addons/TiNA.py

scripts/addons/io_mesh_fast_obj/*
scripts/addons/carbon_tools.py
scripts/addons/io_import_photoscan_cameras.py
scripts/addons/system_time_tracker.py
scripts/addons/uv_tube_unwrap.py
scripts/addons/space_view3d_point_cloud_visualizer.py
scripts/addons/advanced_transform_2_8.py
scripts/addons/Texel_Density_2_2_1_281.py
scripts/presets/bkit.json

scripts/addons/blenderbezierutils.py
config/platform_support.txt
