config/bookmarks.txt
config/recent-files.txt
config/userpref.blend
*__pycache__*

dependencies/*

extensions/*

scripts/addon_library/GIT_Clones/*

scripts/addons/Tila_ConfigManager/AddonManager/Dependencies/*

scripts/addons/retopoflow-master/*
scripts/addons/Capsule/*
scripts/addons/animation_nodes/*
scripts/addons/SimpleAssetManager/*
scripts/addons/fspy_blender/*
scripts/addons/glTF-Blender-IO/*
scripts/addons/mesh_mesh_align_plus/*
scripts/addons/screencastkeys/*
scripts/addons/mira_tools/*
scripts/addons/PolyQuilt/*
scripts/addons/vertex_color_master/*
scripts/addons/MathsExpressionLiteBlender28/*
scripts/addons/MapsModelsImporter/*
scripts/addons/uvpackmaster2/Engine/*
scripts/addons/Polycount/*
scripts/addons/Texel_Density/*
scripts/addons/BlenderMalt/*
scripts/addons/uv_toolkit/*
scripts/addons/Scatter/*
scripts/addons/Scatter Library/*
scripts/addons/Hair_Extension_ToolKit*/*
scripts/addons/BakeWrangler/*
scripts/addons/quad_remesher/*
scripts/addons/hairNet/*
scripts/addons/uv-packer/*
scripts/addons/beta_quad/*
scripts/addons/Scatter5/*
scripts/addons/blenderkit/*
scripts/addons_updates/blenderkit_updater/*
scripts/addons/Scatter5/*
scripts/addons/MACHIN3tools/*

scripts/presets/interface_theme/blender_pro.xml
.vscode/settings.json

scripts/addons/RenderBurst.py
scripts/addons/Object_Shake.py
scripts/addons/TiNA.py
scripts/addons/blenderbezierutils.py
scripts/addons/oscurart_edit_split_normals.py
scripts/addons/oscurart_bake_pbr.py
scripts/addons/object_convert_to_armature.py
scripts/addons/Lodify.py
scripts/addons/optiloops.py

scripts/addons/io_mesh_fast_obj/*
scripts/addons/carbon_tools.py
scripts/addons/io_import_photoscan_cameras.py
scripts/addons/system_time_tracker.py
scripts/addons/uv_tube_unwrap.py
scripts/addons/space_view3d_point_cloud_visualizer.py
scripts/addons/advanced_transform.py
scripts/addons/Asset_Creation_Toolset.py
scripts/addons/mesh_restoresymmetry.py
scripts/presets/bkit.json
scripts/startup/HEAVYPOLY*
scripts/addons/math_formula/*
scripts/addons/softwrap2/*
scripts/addons/photogrammetry_importer/*
scripts/startup/jmQuickPipe.py

scripts/addons/blenderbezierutils.py
config/platform_support.txt
datafiles/colormanagement/*

