config/bookmarks.txt
config/recent-files.txt
*__pycache__*
scripts/addons/retopoflow-master/*
scripts/addons/Capsule/*
scripts/addons/animation_nodes/*
scripts/addons/SimpleAssetManager/*
scripts/addons/fspy_blender/*
scripts/addons/glTF-Blender-IO/*
scripts/addons/mesh_mesh_align_plus/*
scripts/addons/screencastkeys/*
.vscode/settings.json

scripts/addons/RenderBurst.py
scripts/addons/Object_Shake.py