[submodule "scripts/addons/MACHIN3tools"]
	path = scripts/addons/MACHIN3tools
	url = https://github.com/machin3io/MACHIN3tools.git
[submodule "scripts/addons/Principled-Baker"]
	path = scripts/addons/Principled-Baker
	url = https://github.com/danielenger/Principled-Baker.git
[submodule "scripts/addons/BakeMyScan"]
	path = scripts/addons/BakeMyScan
	url = https://github.com/norgeotloic/BakeMyScan.git
[submodule "scripts/addons/Optix-Denoiser"]
	path = scripts/addons/Optix-Denoiser
	url = https://github.com/troopy28/OptiX-Denoiser-for-Blender.git
[submodule "scripts/addons/fake-bpy-module"]
	path = scripts/addons/fake-bpy-module
	url = https://github.com/nutti/fake-bpy-module.git
[submodule "scripts/addons/curve_cad"]
	path = scripts/addons/curve_cad
	url = https://github.com/Lichtso/curve_cad.git
[submodule "scripts/addons/GoB"]
	path = scripts/addons/GoB
	url = https://github.com/JoseConseco/GoB.git
[submodule "scripts/addons/BRM_BakeUI"]
	path = scripts/addons/BRM_BakeUI
	url = https://github.com/leukbaars/BRM-BakeUI.git
[submodule "scripts/addons/real_camera"]
	path = scripts/addons/real_camera
	url = https://github.com/macio97/Real-Camera.git
[submodule "scripts/addons/Magic-UV"]
	path = scripts/addons/Magic-UV
	url = https://github.com/nutti/Magic-UV.git
[submodule "scripts/GIT/animation_nodes"]
	path = scripts/GIT/animation_nodes
	url = https://github.com/JacquesLucke/animation_nodes.git
[submodule "scripts/GIT/mesh_align_plus"]
	path = scripts/GIT/mesh_align_plus
	url = https://github.com/egtwobits/mesh_mesh_align_plus.git
[submodule "scripts/GIT/fSpy-Blender"]
	path = scripts/GIT/fSpy-Blender
	url = https://github.com/stuffmatic/fSpy-Blender.git
[submodule "scripts/GIT/simple-asset-manager"]
	path = scripts/GIT/simple-asset-manager
	url = https://gitlab.com/tibicen/simple-asset-manager.git
[submodule "scripts/GIT/Capsule"]
	path = scripts/GIT/Capsule
	url = https://github.com/Takanu/Capsule.git
[submodule "datafiles/studiolights/world"]
	path = datafiles/studiolights/world
	url = https://github.com/Tilapiatsu/hdri_haven-selection.git
[submodule "datafiles/studiolights/matcap"]
	path = datafiles/studiolights/matcap
	url = https://github.com/Tilapiatsu/matcap-selection.git
[submodule "scripts/GIT/ScreenCast-Keys"]
	path = scripts/GIT/ScreenCast-Keys
	url = https://github.com/nutti/Screencast-Keys.git
[submodule "scripts/addons/EdgeFlow"]
	path = scripts/addons/EdgeFlow
	url = https://github.com/BenjaminSauder/EdgeFlow.git
[submodule "scripts/GIT/TiNA"]
	path = scripts/GIT/TiNA
	url = https://gitlab.com/Modanung/TiNA.git
[submodule "scripts/GIT/RenderBurst"]
	path = scripts/GIT/RenderBurst
	url = https://github.com/VertStretch/RenderBurst.git
[submodule "scripts/GIT/object-shake"]
	path = scripts/GIT/object-shake
	url = https://github.com/thatimster/object-shake.git
[submodule "scripts/GIT/bpy_photogrametry"]
	path = scripts/GIT/bpy_photogrametry
	url = https://github.com/uhlik/bpy.git
[submodule "scripts/GIT/advanced_transform"]
	path = scripts/GIT/advanced_transform
	url = https://github.com/Korchy/advanced_transform.git
[submodule "scripts/addons/yavne"]
	path = scripts/addons/yavne
	url = https://github.com/fedackb/yavne.git
[submodule "scripts/addons/lineup_maker"]
	path = scripts/addons/lineup_maker
	url = https://github.com/Tilapiatsu/blender-lineup_maker.git
[submodule "scripts/addons/TextTools"]
	path = scripts/addons/TextTools
	url = https://github.com/SavMartin/TexTools-Blender.git
[submodule "scripts/addons/FontSelector"]
	path = scripts/addons/FontSelector
	url = https://github.com/samytichadou/FontSelector_blender_addon.git
[submodule "scripts/addons/CommandRecorder/"]
	path = scripts/addons/CommandRecorder/
	url = https://github.com/Muthird/CommandRecorder2.8.git
[submodule "scripts/addons/CommandRecorder"]
	path = scripts/addons/CommandRecorder
	url = https://github.com/Muthird/CommandRecorder2.8.git
[submodule "scripts/addons/MeasureIt-ARCH"]
	path = scripts/addons/MeasureIt-ARCH
	url = https://github.com/kevancress/MeasureIt-ARCH.git
[submodule "scripts/GIT/mifthtools"]
	path = scripts/GIT/mifthtools
	url = https://github.com/mifth/mifthtools.git
[submodule "scripts/GIT/PolyQuilt"]
	path = scripts/GIT/PolyQuilt
	url = https://github.com/sakana3/PolyQuilt.git
[submodule "scripts/addons/uv_highlight"]
	path = scripts/addons/uv_highlight
	url = https://github.com/BenjaminSauder/uv_highlight.git
[submodule "scripts/GIT/vertex_color_master"]
	path = scripts/GIT/vertex_color_master
	url = https://github.com/andyp123/blender_vertex_color_master.git
[submodule "scripts/GIT/ProTheme"]
	path = scripts/GIT/ProTheme
	url = https://github.com/paulcoops/blender_pro-theme.git
[submodule "scripts/addons/bezier_utils"]
	path = scripts/addons/bezier_utils
	url = https://github.com/Shriinivas/blenderbezierutils.git
[submodule "scripts/addons/optiloops"]
	path = scripts/addons/optiloops
	url = https://github.com/vilemduha/optiloops.git
[submodule "scripts/addons/SimpleLattice"]
	path = scripts/addons/SimpleLattice
	url = https://github.com/BenjaminSauder/SimpleLattice.git
[submodule "scripts/addons/fast-sculpt"]
	path = scripts/addons/fast-sculpt
	url = https://github.com/jayanam/fast-sculpt.git
[submodule "scripts/GIT/Blender-Addons"]
	path = scripts/GIT/Blender-Addons
	url = https://github.com/baldingwizard/Blender-Addons.git
[submodule "scripts/addons/atomic_data_manager"]
	path = scripts/addons/atomic_data_manager
	url = https://github.com/grantwilk/atomic-data-manager.git
[submodule "scripts/addons/mesh-check"]
	path = scripts/addons/mesh-check
	url = https://github.com/bookyakuno/mesh-check-b28.git
[submodule "scripts/GIT/MapsModelsImporter"]
	path = scripts/GIT/MapsModelsImporter
	url = https://github.com/eliemichel/MapsModelsImporter.git
[submodule "scripts/addons/Extra-Image-List"]
	path = scripts/addons/Extra-Image-List
	url = https://github.com/schroef/Extra-Image-List.git
[submodule "scripts/GIT/Polycount"]
	path = scripts/GIT/Polycount
	url = https://github.com/Vinc3r/Polycount.git
[submodule "scripts/addons/W_Mesh"]
	path = scripts/addons/W_Mesh
	url = https://github.com/WiresoulStudio/W_Mesh_28x.git
[submodule "scripts/addons/BlendShell"]
	path = scripts/addons/BlendShell
	url = https://github.com/oormicreations/BlendShell.git
[submodule "scripts/addons/Neltulz_Smart_Sharpen"]
	path = scripts/addons/Neltulz_Smart_Sharpen
	url = https://github.com/Neltulz/Neltulz_Smart_Sharpen.git
[submodule "scripts/addons/Neltulz_Symmetry"]
	path = scripts/addons/Neltulz_Symmetry
	url = https://github.com/Neltulz/Neltulz_Symmetry.git
[submodule "scripts/addons/Neltulz_Edge_Curve_Plus"]
	path = scripts/addons/Neltulz_Edge_Curve_Plus
	url = https://github.com/Neltulz/Neltulz_Edge_Curve_Plus.git
[submodule "scripts/addons/workplane"]
	path = scripts/addons/workplane
	url = https://github.com/BenjaminSauder/Workplane.git
[submodule "scripts/addons/array_tools"]
	path = scripts/addons/array_tools
	url = https://github.com/Elreenys/array_tools.git
[submodule "scripts/addons/BlenderGIS"]
	path = scripts/addons/BlenderGIS
	url = https://github.com/domlysz/BlenderGIS.git
[submodule "scripts/GIT/Texel-Density-Checker"]
	path = scripts/GIT/Texel-Density-Checker
	url = https://github.com/mrven/Blender-Texel-Density-Checker.git
[submodule "scripts/addons/scene_strip_tools"]
	path = scripts/addons/scene_strip_tools
	url = https://github.com/tin2tin/scene_strip_tools.git
[submodule "scripts/GIT/Asset-Creation-Toolset"]
	path = scripts/GIT/Asset-Creation-Toolset
	url = https://github.com/mrven/Blender-Asset-Creation-Toolset.git
[submodule "scripts/addons/BakeLab2"]
	path = scripts/addons/BakeLab2
	url = https://github.com/Shahzod114/Blender-BakeLab2.git
[submodule "scripts/GIT/blenderbezierutils/"]
	path = scripts/GIT/blenderbezierutils/
	url = https://github.com/Shriinivas/blenderbezierutils.git
[submodule "scripts/GIT/bezierutils"]
	path = scripts/GIT/bezierutils
	url = https://github.com/Shriinivas/blenderbezierutils.git
[submodule "scripts/GIT/oscuart"]
	path = scripts/GIT/oscuart
	url = https://github.com/oscurart/Blender-28-Addons.git
[submodule "scripts/addons/BlendLuxCore"]
	path = scripts/addons/BlendLuxCore
	url = https://github.com/LuxCoreRender/BlendLuxCore.git
[submodule "scripts/GIT/Export-Paper-Model"]
	path = scripts/GIT/Export-Paper-Model
	url = https://github.com/addam/Export-Paper-Model-from-Blender.git
[submodule "Scripts/GIT/Lodify"]
	path = Scripts/GIT/Lodify
	url = https://github.com/DB3D/Lodify.git
[submodule "scripts/addons/UvSquares"]
	path = scripts/addons/UvSquares
	url = https://github.com/Radivarig/UvSquares.git
[submodule "scripts/addons/glslTexture"]
	path = scripts/addons/glslTexture
	url = https://github.com/patriciogonzalezvivo/glslTexture.git
[submodule "scripts/addons/tensionmap"]
	path = scripts/addons/tensionmap
	url = https://github.com/ScottishCyclops/tensionmap.git
[submodule "scripts/addons/modifier_list"]
	path = scripts/addons/modifier_list
	url = https://github.com/Symstract/modifier_list.git
[submodule "scripts/addons/Auto_Reload"]
	path = scripts/addons/Auto_Reload
	url = https://github.com/samytichadou/Auto_Reload-Blender_addon.git
[submodule "scripts/addons/DreamUV"]
	path = scripts/addons/DreamUV
	url = https://github.com/leukbaars/DreamUV.git
[submodule "Scripts/GIT/BEER"]
	path = Scripts/GIT/BEER
	url = https://github.com/BlenderNPR/BEER.git
[submodule "scripts/GIT/OpenColorIO"]
	path = scripts/GIT/OpenColorIO
	url = https://github.com/colour-science/OpenColorIO-Configs.git
[submodule "scripts/addons/seams_to_sewing_pattern"]
	path = scripts/addons/seams_to_sewing_pattern
	url = https://gitlab.com/thomaskole/blender-seams-to-sewing-pattern.git
[submodule "scripts/GIT/colour_nuke"]
	path = scripts/GIT/colour_nuke
	url = https://github.com/colour-science/colour-nuke.git
[submodule "scripts/addons/BMAX_Connector"]
	path = scripts/addons/BMAX_Connector
	url = https://github.com/TitusLVR/BMAX_Connector.git
[submodule "scripts/addons/txa_ant"]
	path = scripts/addons/txa_ant
	url = https://github.com/nerk987/txa_ant.git
[submodule "scripts/GIT/BlenderImgui"]
	path = scripts/GIT/BlenderImgui
	url = https://github.com/eliemichel/BlenderImgui.git
[submodule "scripts/addons/modular_tree"]
	path = scripts/addons/modular_tree
	url = https://github.com/MaximeHerpin/modular_tree.git
[submodule "scripts/GIT/HairNet"]
	path = scripts/GIT/HairNet
	url = https://github.com/Jandals/HairNet.git
[submodule "scripts/addons/hair_guides"]
	path = scripts/addons/hair_guides
	url = https://github.com/Lichtso/hair_guides.git
[submodule "scripts/addons/ImagePaste"]
	path = scripts/addons/ImagePaste
	url = https://github.com/Yeetus3141/ImagePaste.git
[submodule "scripts/addons/Abnormal"]
	path = scripts/addons/Abnormal
	url = https://github.com/bnpr/Abnormal.git
[submodule "scripts/addons/Shader-to-OpenVDB"]
	path = scripts/addons/Shader-to-OpenVDB
	url = https://github.com/joshuabloemer/Shader-to-OpenVDB.git
[submodule "scripts/GIT/HEAVYPOLY"]
	path = scripts/GIT/HEAVYPOLY
	url = https://github.com/HEAVYPOLY/HEAVYPOLY_Blender.git
[submodule "datafiles/scene/GlitchNoiseShader"]
	path = datafiles/scene/GlitchNoiseShader
	url = https://github.com/Magryllia/GlitchNoiseShader.git
[submodule "scripts/addons/manage-file-paths"]
	path = scripts/addons/manage-file-paths
	url = https://github.com/gregzaal/manage-file-paths.git
[submodule "scripts/addons/character-pipeline-addistant"]
	path = scripts/addons/character-pipeline-addistant
	url = https://gitlab.com/blender/character-pipeline-assistant.git
[submodule "scripts/addons/render-strip"]
	path = scripts/addons/render-strip
	url = https://github.com/luckykadam/render-strip.git
[submodule "scripts/addons/lattice_magic"]
	path = scripts/addons/lattice_magic
	url = https://gitlab.com/blender/lattice_magic.git
